::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--bs-body-bg);
    border-radius: 7.5px;
}

::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
}

::-webkit-scrollbar-button {
    background-color: var(--bs-body-bg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23BF40BF" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23BF40BF" class="bi bi-caret-up-fill" viewBox="0 0 16 16"><path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" /></svg>');
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23BF40BF" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>');
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23BF40BF" class="bi bi-caret-left-fill" viewBox="0 0 16 16"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg>');
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 7.5px;
    background-image: -webkit-gradient(linear,
            center bottom,
            center top,
            color-stop(0.33, #5f2e59),
            color-stop(0.67, #734674),
            color-stop(1, #925784));
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-image: -webkit-gradient(linear,
            center bottom,
            center top,
            color-stop(0.33, #734674),
            color-stop(0.67, #925784),
            color-stop(1, #e2bfd8));
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 7.5px;
    background-image: -webkit-gradient(linear,
            right center,
            left center,
            color-stop(0.33, #5f2e59),
            color-stop(0.67, #734674),
            color-stop(1, #925784));
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-image: -webkit-gradient(linear,
            right center,
            left center,
            color-stop(0.33, #734674),
            color-stop(0.67, #925784),
            color-stop(1, #e2bfd8));
}

[data-bs-theme=light] {
    --bs-body-color: black !important;
    --bs-body-bg: white !important;
}

[data-bs-theme=dark] {
    --bs-body-color: white !important;
    --bs-body-bg: black !important;
}

.dropdown-menu.dropdown-menu {
    --bs-dropdown-padding-x: .125rem;
    --bs-dropdown-padding-y: .125rem;
    /* --bs-dropdown-font-size: .875rem; */

    li {
        margin: .125rem 0;

        .dropdown-item {
            border-radius: .25rem;
            font-size: .875rem;
        }
    }
}

.list-group-item.list-group-item {
    padding: 0.2rem 0.2rem;
}

.btn-bd-primary.btn-bd-primary {
    --bd-violet-bg: #3a7754;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #2a6845;
    --bs-btn-hover-border-color: #2a6845;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #1e4831;
    --bs-btn-active-border-color: #1e4831;
}

.bd-mode-toggle {
    /* z-index: 1000; */

    .active .bi {
        display: block !important;
    }
}

.bootstrap-select.bootstrap-select .no-results.no-results {
    background: initial;
}

#brand-logo {
    max-height: 32px;
    margin-bottom: .2rem;
}

#logout svg {
    height: 1.1rem;
    width: 1.1rem;
    margin-top: -.15rem;
}

form {
    /* width: auto; */
    justify-content: center;
    align-items: center;
}

#uploadForm fieldset {
    margin-right: -3rem;
}

input[type=file] {

    &::file-selector-button {
        /* background-color: var(--bs-primary-bg-subtle); */
        display: none;
    }
}

#imgForm {
    display: flex;
    flex-wrap: wrap;
}

#figBox {
    margin: 2px;
}

#figImg {
    cursor: pointer;
}

#figDetails {
    height: 14em;
    overflow: auto;
}

.figure-caption.figure-caption {
    font-size: .875em;
    color: var(--bs-secondary-color);
    height: 100%;
}